* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8%;
}

.menu li a{
  color:white;
  text-decoration:none;
}

.menu li a:hover{
  color:gold;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  width: auto;
}

/* SEARCH BOX */

.search-box input {
  padding: 8px 15px;
  width: 260px;
  border-radius: 20px;
  border: 1px solid gold;
  background: transparent;
  color: white;
}

.search-box input::placeholder {
  color: #ccc;
}

/* MENU */

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li {
  cursor: pointer;
}

/* LINE */

.line {
  border: 1px solid gold;
}

/* HERO SECTION */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  flex-wrap: wrap;
}

.hero-left {
  max-width: 520px;
}

.hero-left h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-left p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* BUTTON */

.btn {
  background: gold;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.btn:hover {
  background: #d4af37;
}

/* IMAGE */

.hero-right img {
  width: 380px;
}

/* COLLECTION */

.collection-section {
  padding: 50px 8%;
  background: black;
}

.collection-title {
  color: white;
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.collection-card {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  border: 2px solid gold;
  text-align: center;
  transition: 0.3s;
}

.collection-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255,215,0,0.5);
}

.collection-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.collection-card p {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}

.view-btn {
  text-align: center;
  margin-top: 30px;
}

.view-btn button {
  background: gold;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.view-btn button:hover {
  background: #d4af37;
}

/* FEATURED */

.featured-section {
  padding: 50px 8%;
}

.featured-title {
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.featured-card {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  border: 2px solid gold;
  transition: 0.3s;
}

.featured-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255,215,0,0.5);
}

.featured-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.rating {
  color: gold;
  margin: 8px 0 5px;
}

.featured-card h4 {
  color: black;
  font-size: 15px;
  margin-bottom: 5px;
}

.price {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.section-heading {
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

/* WHY SECTION */
.why-section {
  padding: 60px 8%;
  background: #000;
  color: white;
}

.section-heading {
  font-size: 22px;
  margin-bottom: 30px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

.why-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.why-card {
  border: 2px solid gold;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  background: #000;
  transition: 0.3s ease;
}

.why-icon {
  font-size: 28px;
  color: gold;
}

.why-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

/* APP SECTION */

.app-section {
  padding: 50px 8%;
}

.app-container {
  border: 2px solid gold;
  border-radius: 30px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.app-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-icon {
  font-size: 40px;
  color: gold;
}

.app-left h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.app-left p {
  color: #ccc;
  font-size: 14px;
}

/* DOWNLOAD BUTTON */

.download-btn {
  background: gold;
  color: black;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.download-btn:hover {
  background: #d4af37;
}

/* FOOTER */

.footer {
  background: black;
  padding-top: 40px;
}

.footer-btn-box {
  text-align: center;
  margin-bottom: 30px;
}

.footer .btn {
  color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
}

.footer-box h3 {
  color: white;
  margin-bottom: 18px;
}

.footer-box ul {
  list-style: disc;
  padding-left: 18px;
}

.footer-box ul li {
  color: #ccc;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.8;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}

.footer-box ul li a:hover {
  color: gold;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  color: white;
  font-size: 14px;
  padding-top: 8px;
}