* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8%;
}

.menu li a{
  color:white;
  text-decoration:none;
}

.menu li a:hover{
  color:gold;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  width: auto;
}

/* SEARCH BOX */

.search-box input {
  padding: 8px 15px;
  width: 260px;
  border-radius: 20px;
  border: 1px solid gold;
  background: transparent;
  color: white;
}

.search-box input::placeholder {
  color: #ccc;
}

/* MENU */

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li {
  cursor: pointer;
}

/* LINE */

.line {
  border: 1px solid gold;
}

/* HERO SECTION */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  flex-wrap: wrap;
}

/* LEFT TEXT */

.hero-left {
  max-width: 520px;
}

.hero-left h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-left p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* BUTTON */

.btn {
  background: gold;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #d4af37;
}

/* IMAGE */

.hero-right img {
  width: 380px;
}

/* RESPONSIVE */

@media(max-width: 768px) {

  .hero {
    text-align: center;
    justify-content: center;
  }

  .hero-right img {
    width: 300px;
    margin-top: 30px;
  }

  .search-box input {
    width: 160px;
  }

}

/* SHOP BUY COLLECTION */

.collection-section {
  padding: 50px 8%;
  background: black;
}

.collection-title {
  color: white;
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

/* GRID */

.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */

.collection-card {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  border: 2px solid gold;
  text-align: center;
  transition: 0.3s;
}

.collection-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255,215,0,0.5);
}

/* IMAGE */

.collection-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

/* TEXT */

.collection-card p {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}

/* VIEW BUTTON */

.view-btn {
  text-align: center;
  margin-top: 30px;
}

.view-btn button {
  background: gold;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.view-btn button:hover {
  background: #ffcc00;
}

/* FEATURED SECTION */

.featured-section {
  padding: 50px 8%;
}

.featured-title {
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

/* GRID */

.featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */

.featured-card {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  border: 2px solid gold;
  transition: 0.3s;
}

.featured-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255,215,0,0.5);
}

/* IMAGE */

.featured-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

/* RATING */

.rating {
  color: gold;
  margin: 8px 0 5px;
}

/* TEXT */

.featured-card h4 {
  color: black;
  font-size: 15px;
  margin-bottom: 5px;
}

.price {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

/* RESPONSIVE */

@media(max-width: 768px) {

  .featured-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* WHY CHOOSE US */

.why-section {
  padding: 50px 8%;
}

.why-title {
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

/* GRID */

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* CARD */

.why-card {
  border: 2px solid gold;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.why-card h4 {
  color: white;
  margin-bottom: 6px;
}

.why-card p {
  color: #ccc;
  font-size: 14px;
}

/* ICON */

.why-icon {
  font-size: 35px;
  color: gold;
}


/* APP DOWNLOAD */

.app-section {
  padding: 50px 8%;
}

.app-title {
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid gold;
  display: inline-block;
  padding-bottom: 5px;
}

.app-box {
  border: 2px solid gold;
  border-radius: 25px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */

.app-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.app-left h4 {
  margin-bottom: 5px;
}

.app-left p {
  color: #ccc;
  font-size: 14px;
}

.app-icon {
  font-size: 35px;
  color: gold;
}

/* BUTTON */

.app-btn {
  background: gold;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.app-btn:hover {
  background: #ffcc00;
}


/* RESPONSIVE */

@media(max-width: 768px) {

  .why-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .app-box {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

}

/* FOOTER */

.footer {
  background: black;
  padding-top: 40px;
}

/* SHOP NOW BUTTON */

.footer-btn-box {
  text-align: center;
  margin-bottom: 30px;
}

.shop-btn {
  background: gold;
  border: none;
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.shop-btn:hover {
  background: #ffcc00;
}


/* FOOTER CONTENT */

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
}

/* FOOTER BOX */

.footer-box h3 {
  color: white;
  margin-bottom: 18px;
}


.footer-box ul {
  list-style: disc;
  padding-left: 18px;
}

.footer-box ul li {
  color: #ccc;
  margin-bottom: 12px;   
  font-size: 14px;
  cursor: pointer;
  line-height: 1.8;     
}

.footer-box ul li:hover {
  color: gold;
}


/* COPYRIGHT */

.footer-bottom {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  color: white;
  font-size: 14px;
  padding-top: 8px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-box {
    text-align: center;
  }

  .footer-box ul {
    list-style-position: inside;
    padding-left: 0;
  }

}